@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background:rgb(197, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 4px solid black;
}

.for-color{
    width: 60%;
    height: 40%;
    border: 4px solid pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: clamp(20px,2vw, 50px);
    color: black;
    font-weight: bold;
}

#eblan{
    width: 50%;
    height: clamp(50px,2.5vw,70px);
    margin-top: clamp(10px,1vw,30px);
    font-size: clamp(20px,1.3vw, 40px);
    font-family: 'Roboto', sans-serif;
    transition: .2s;
    background-color: rgb(252, 27, 102);

}

#eblan:hover{
    background-color: rgb(202, 0, 67);
    color: white;
}

